{% extends "padre.html"   %} 

{% load static %}


{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'Web/assets/img/avatar.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Franco Guarino</h5>
                  <p class="card-text">Lo Mas! </p>
                  <a href="#" class="btn btn-primary">Ver Notas</a>
                </div>
              </div>
            
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'web/assets/img/avatar.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Franco Guarino</h5>
                  <p class="card-text">Lo Mas! </p>
                  <a href="#" class="btn btn-primary">Ver Notas</a>
                </div>
              </div>
            
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'Web/assets/img/avatar.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Franco Guarino</h5>
                  <p class="card-text">Lo Mas! </p>
                  <a href="#" class="btn btn-primary">Ver Notas</a>
                </div>
              </div>
            
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'Web/assets/img/avatar.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Franco Guarino</h5>
                  <p class="card-text">Lo Mas! </p>
                  <a href="#" class="btn btn-primary">Ver Notas</a>
                </div>
              </div>
            
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'Web/assets/img/avatar.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Franco Guarino</h5>
                  <p class="card-text">Lo Mas! </p>
                  <a href="#" class="btn btn-primary">Ver Notas</a>
                </div>
              </div>
            
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'Web/assets/img/avatar.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Franco Guarino</h5>
                  <p class="card-text">Lo Mas! </p>
                  <a href="#" class="btn btn-primary">Ver Notas</a>
                </div>
              </div>
            
        </div>

    </div>
</div>


{% endblock %}
