{% extends 'base.html' %}

{% load static %}

<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'Web/css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Blog</a></h1>
        </div>

        {% block contenido %}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for post in post %}
                        <div class="post">
                            <div class="date">
                                <p>publicado: {{ post.fecha_publicacion}}</p>
                            </div>
                            <h2><a href="{% url 'post_detalle' pk=post.pk %}">{{ post.titulo }}</a></h2>
                            <p>{{ post.texto|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endblock %}
</html>